{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block head %} {% endblock %}

{% block body %}

<div class="container">

    <div class="row" style="margin-bottom:10px;">
        <span style="font-size:20px;">{{my_incubator.name}} | Contains: {{total_eggs}} Eggs</span>
    </div>
    <div class="row">

        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-1" style="padding:0;margin:0;text-align:center;font-size:25px;">

                        </div>
                        {% for x in range(1,my_incubator.columns+1) %}
                        <div class="col-sm-2" style="text-align:center;font-size:25px;margin-bottom:15px;">
                            {{x}}
                        </div>
                        {% endfor %}
                    </div>



                    {% for x in range(1,my_incubator.rows+1) %}
                    <div class="row" style="margin-bottom:15px;">
                        <div class="col-sm-1" style="padding:0;margin:0;text-align:center;font-size:25px;">
                            {{x}} :
                        </div>
                        {% set index = (x-1)*my_incubator.columns %}
                        {% for y in range(1,my_incubator.columns+1) %}
                        <div class="col-sm-2">

                            <div class="col-sm-8" style="padding:0;">
                                <button class="btn btn-success" style="width:100%;">{{trays[index+y-1].id}}</button>
                            </div>
                            <div class="col-sm-4" style="padding:0;">
                                <button type="button" id="{{trays[index+y-1].id}}" data-target="#edit_tray" data-toggle="modal" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-2" style="text-align:center;">
                            Overall Incubator Harvest<br/>
                        </div>
                        <div class="col-sm-2">
                            Balot: {{my_incubator.balot}}
                        </div>
                        <div class="col-sm-2">
                            Penoy: {{my_incubator.penoy}}
                        </div>
                        <div class="col-sm-2">
                            Freska: {{my_incubator.freska}}
                        </div>
                        <div class="col-sm-2">
                            Echo: {{my_incubator.echo}}
                        </div>
                        <div class="col-sm-2">
                            Matra: {{my_incubator.matra}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <div class="panel panel-info">
                    <div class="panel-heading" style="font-size:15px;">
                        Ready to Harvest: <span id="ReadyHarvest">143</span>
                    </div>
                    <div class="panel-body">

                        <label for="balot">Balot:</label>
                        <input type="number" id="balot" class="form-control">

                        <label for="penoy">Penoy:</label>
                        <input type="number" id="penoy" class="form-control">

                        <label for="freska">Freska:</label>
                        <input type="number" id="freska" class="form-control">

                        <label for="echo">Echo:</label>
                        <input type="number" id="echo" class="form-control">

                        <label for="matra">Matra:</label>
                        <input type="number" id="matra" class="form-control">

                        <center>
                            <br/>
                            <button class="btn btn-success">Submit Daily Report</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!--Edit Tray Modal-->
<div class="modal fade" id="edit_tray" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Report</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form method="POST" id="Tray_report_form">
                    {{tray_report.csrf_token}}

                    <div class="row">
                        <div class="col-sm-6" style="margin-bottom:5px;font-weight:bold;" id="tray_eggs">
                            Eggs Contained:
                        </div>
                    </div>
                    <div class="row" style="width:100%;">
                        <div class="col-sm-2">
                            {{tray_report.balot.label}}<br/>
                            {{tray_report.balot(style="width:100%;", class="form-control", type="number")}}
                        </div>
                        <div class="col-sm-2">
                            {{tray_report.penoy.label}}<br/>
                            {{tray_report.penoy(style="width:100%;", class="form-control", type="number")}}
                        </div>
                        <div class="col-sm-2">
                            {{tray_report.freska.label}}<br/>
                            {{tray_report.freska(style="width:100%;", class="form-control", type="number")}}
                        </div>
                        <div class="col-sm-2">
                            {{tray_report.echo.label}}<br/>
                            {{tray_report.echo(style="width:100%;", class="form-control", type="number")}}
                        </div>
                        <div class="col-sm-2">
                            {{tray_report.matra.label}}<br/>
                            {{tray_report.matra(style="width:100%;", class="form-control", type="number")}}
                        </div>
                        <div class="col-sm-2">
                            {{tray_report.cracked.label}}<br/>
                            {{tray_report.cracked(style="width:100%;", class="form-control", type="number")}}
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-sm-12" style="text-align:center;">
                        <br/>
                        <button class="btn btn-warning" style="text-align:center;width:25%;" id="makeIncubator">Submit</button>
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}
