{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block head %} {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align:center;">Go for a harvest<br/>check incubators</div>
                <div class="panel-body">
                    <button class="btn" style="width:100%;">Incubator 1</button><br><br>
                    <button class="btn" style="width:100%;">Incubator 2</button>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row" style="text-align:center;">
                <h1>Welcome to cracker, <br/>designed for a balot vendor like you</h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}
